<section id="car-section" class="car-section-phone">
    <div class="container">
      <h2 data-i18n="carFleet.title"></h2>
      <div id="carFleetCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <!-- Wrapper для слайдів -->
          
                <div class="car-card carousel-item active">
                  <img class="car-image d-block w-100" src="/images/cars/Merc_c200.png" alt="Mercedes C200 2011">
                  <div class="car-details">
                    <h3 data-i18n="carFleet.cars.0.model"></h3>
                    <a class="price" data-i18n="carFleet.offer"></a>
                    <p class="price" data-i18n="carFleet.cars.0.price"></p>
                    <div class="specs">
                      <p data-i18n="carFleet.cars.0.engine"></p>
                      <p data-i18n="carFleet.cars.0.transmission"></p>
                      <p data-i18n="carFleet.cars.0.fuelConsumption"></p>
                      <p data-i18n="carFleet.cars.0.power"></p>
                      <p data-i18n="carFleet.cars.0.topSpeed"></p>
                    </div>
                    <button class="check-button" onclick="scrollToFooter()" data-i18n="carFleet.cars.0.button"></button>
                  </div>
                </div>
              
           
                <div class="car-card carousel-item">
                  <img class="car-image d-block w-100" src="/images/cars/skoda_2011.png" alt="Mercedes C200 2011">
                  <div class="car-details">
                    <h3 data-i18n="carFleet.cars.1.model"></h3>
                    <a class="price" data-i18n="carFleet.offer"></a>
                    <p class="price" data-i18n="carFleet.cars.1.price"></p>
                    <div class="specs">
                      <p data-i18n="carFleet.cars.1.engine"></p>
                      <p data-i18n="carFleet.cars.1.transmission"></p>
                      <p data-i18n="carFleet.cars.1.fuelConsumption"></p>
                      <p data-i18n="carFleet.cars.1.power"></p>
                      <p data-i18n="carFleet.cars.1.topSpeed"></p>
                    </div>
                    <button class="check-button" onclick="scrollToFooter()" data-i18n="carFleet.cars.1.button"></button>
                  </div>
                </div>
              
            
                <div class="car-card carousel-item">
                  <img class="car-image d-block w-100" src="/images/cars/LOGAN.png" alt="Mercedes C200 2011">
                  <div class="car-details">
                    <h3 data-i18n="carFleet.cars.2.model"></h3>
                    <a class="price" data-i18n="carFleet.offer"></a>
                    <p class="price" data-i18n="carFleet.cars.2.price"></p>
                    <div class="specs">
                      <p data-i18n="carFleet.cars.2.engine"></p>
                      <p data-i18n="carFleet.cars.2.transmission"></p>
                      <p data-i18n="carFleet.cars.2.fuelConsumption"></p>
                      <p data-i18n="carFleet.cars.2.power"></p>
                      <p data-i18n="carFleet.cars.2.topSpeed"></p>
                    </div>
                    <button class="check-button" onclick="scrollToFooter()" data-i18n="carFleet.cars.0.button"></button>
                  </div>
                </div>
              
          
                <div class="car-card carousel-item">
                  <img class="car-image d-block w-100" src="/images/cars/HONDA_INSIGHT.png" alt="Honda Insight">
                  <div class="car-details">
                    <h3 data-i18n="carFleet.cars.3.model"></h3>
                    <a class="price" data-i18n="carFleet.offer"></a>
                    <p class="price" data-i18n="carFleet.cars.3.price"></p>
                    <div class="specs">
                      <p data-i18n="carFleet.cars.3.engine"></p>
                      <p data-i18n="carFleet.cars.3.transmission"></p>
                      <p data-i18n="carFleet.cars.3.fuelConsumption"></p>
                      <p data-i18n="carFleet.cars.3.power"></p>
                      <p data-i18n="carFleet.cars.3.topSpeed"></p>
                    </div>
                    <button class="check-button" onclick="scrollToFooter()" data-i18n="carFleet.cars.3.button"></button>
                  </div>
                </div>
              
             
                <div class="car-card carousel-item">
                  <img class="car-image d-block w-100" src="/images/cars/skoda_fabia.png" alt="Skoda Fabia 3 Combi">
                  <div class="car-details">
                    <h3 data-i18n="carFleet.cars.4.model"></h3>
                    <a class="price" data-i18n="carFleet.offer"></a>
                    <p class="price" data-i18n="carFleet.cars.4.price"></p>
                    <div class="specs">
                      <p data-i18n="carFleet.cars.4.engine"></p>
                      <p data-i18n="carFleet.cars.4.transmission"></p>
                      <p data-i18n="carFleet.cars.4.fuelConsumption"></p>
                      <p data-i18n="carFleet.cars.4.power"></p>
                      <p data-i18n="carFleet.cars.4.topSpeed"></p>
                    </div>
                    <button class="check-button" onclick="scrollToFooter()" data-i18n="carFleet.cars.4.button"></button>
                  </div>
                </div>
              
             
                <div class="car-card carousel-item">
                  <img class="car-image d-block w-100" src="/images/cars/skoda_fabia4.png" alt="Skoda Fabia 4">
                  <div class="car-details">
                    <h3 data-i18n="carFleet.cars.5.model"></h3>
                    <a class="price" data-i18n="carFleet.offer"></a>
                    <p class="price" data-i18n="carFleet.cars.5.price"></p>
                    <div class="specs">
                      <p data-i18n="carFleet.cars.5.engine"></p>
                      <p data-i18n="carFleet.cars.5.transmission"></p>
                      <p data-i18n="carFleet.cars.5.fuelConsumption"></p>
                      <p data-i18n="carFleet.cars.5.power"></p>
                      <p data-i18n="carFleet.cars.5.topSpeed"></p>
                    </div>
                    <button class="check-button" onclick="scrollToFooter()" data-i18n="carFleet.cars.0.button"></button>
                  </div>
                </div>
              
       
                <div class="car-card carousel-item">
                  <img class="car-image d-block w-100" src="/images/cars/toyota_camry70.png" alt="Toyota Camry 70">
                  <div class="car-details">
                    <h3 data-i18n="carFleet.cars.6.model"></h3>
                    <a class="price" data-i18n="carFleet.offer"></a>
                    <p class="price" data-i18n="carFleet.cars.6.price"></p>
                    <div class="specs">
                      <p data-i18n="carFleet.cars.6.engine"></p>
                      <p data-i18n="carFleet.cars.6.transmission"></p>
                      <p data-i18n="carFleet.cars.6.fuelConsumption"></p>
                      <p data-i18n="carFleet.cars.6.power"></p>
                      <p data-i18n="carFleet.cars.6.topSpeed"></p>
                    </div>
                    <button class="check-button" onclick="scrollToFooter()" data-i18n="carFleet.cars.6.button"></button>
                  </div>
                </div>
              
           
                <div class="car-card carousel-item">
                  <img class="car-image d-block w-100" src="/images/cars/toyota_auris.png" alt="Toyota Auris 2018">
                  <div class="car-details">
                    <h3 data-i18n="carFleet.cars.7.model"></h3>
                    <a class="price" data-i18n="carFleet.offer"></a>
                    <p class="price" data-i18n="carFleet.cars.7.price"></p>
                    <div class="specs">
                      <p data-i18n="carFleet.cars.7.engine"></p>
                      <p data-i18n="carFleet.cars.7.transmission"></p>
                      <p data-i18n="carFleet.cars.7.fuelConsumption"></p>
                      <p data-i18n="carFleet.cars.7.power"></p>
                      <p data-i18n="carFleet.cars.7.topSpeed"></p>
                    </div>
                    <button class="check-button" onclick="scrollToFooter()" data-i18n="carFleet.cars.7.button"></button>
                  </div>
                </div>
              
              
                <div class="car-card carousel-item">
                  <img class="car-image d-block w-100" src="/images/cars/toyota_e21.png" alt="Toyota Corolla E21">
                  <div class="car-details">
                    <h3 data-i18n="carFleet.cars.8.model"></h3>
                    <a class="price" data-i18n="carFleet.offer"></a>
                    <p class="price" data-i18n="carFleet.cars.8.price"></p>
                    <div class="specs">
                      <p data-i18n="carFleet.cars.8.engine"></p>
                      <p data-i18n="carFleet.cars.8.transmission"></p>
                      <p data-i18n="carFleet.cars.8.fuelConsumption"></p>
                      <p data-i18n="carFleet.cars.8.power"></p>
                      <p data-i18n="carFleet.cars.8.topSpeed"></p>
                    </div>
                    <button class="check-button" onclick="scrollToFooter()" data-i18n="carFleet.cars.8.button"></button>
                  </div>
                </div>
              
            
          
                <div class="car-card carousel-item">
                  <img class="car-image d-block w-100" src="/images/cars/toyota_auris.png" alt="Toyota Auris 2018">
                  <div class="car-details">
                    <h3 data-i18n="carFleet.cars.7.model"></h3>
                    <a class="price" data-i18n="carFleet.offer"></a>
                    <p class="price" data-i18n="carFleet.cars.7.price"></p>
                    <div class="specs">
                      <p data-i18n="carFleet.cars.7.engine"></p>
                      <p data-i18n="carFleet.cars.7.transmission"></p>
                      <p data-i18n="carFleet.cars.7.fuelConsumption"></p>
                      <p data-i18n="carFleet.cars.7.power"></p>
                      <p data-i18n="carFleet.cars.7.topSpeed"></p>
                    </div>
                    <button class="check-button" onclick="scrollToFooter()" data-i18n="carFleet.cars.7.button"></button>
                  </div>
                </div>
             
             
                <div class="car-card carousel-item">
                  <img class="car-image d-block w-100" src="/images/cars/toyota_e21.png" alt="Toyota Corolla E21">
                  <div class="car-details">
                    <h3 data-i18n="carFleet.cars.8.model"></h3>
                    <a class="price" data-i18n="carFleet.offer"></a>
                    <p class="price" data-i18n="carFleet.cars.8.price"></p>
                    <div class="specs">
                      <p data-i18n="carFleet.cars.8.engine"></p>
                      <p data-i18n="carFleet.cars.8.transmission"></p>
                      <p data-i18n="carFleet.cars.8.fuelConsumption"></p>
                      <p data-i18n="carFleet.cars.8.power"></p>
                      <p data-i18n="carFleet.cars.8.topSpeed"></p>
                    </div>
                    <button class="check-button" onclick="scrollToFooter()" data-i18n="carFleet.cars.8.button"></button>
                  </div>
                </div>
          
                <div class="car-card carousel-item">
                  <img class="car-image d-block w-100" src="/images/cars/toyota_plus.jpg" alt="Toyota Camry 70">
                  <div class="car-details">
                    <h3 data-i18n="carFleet.cars.9.model"></h3>
                    <a class="price" data-i18n="carFleet.offer"></a>
                    <p class="price" data-i18n="carFleet.cars.9.price"></p>
                    <div class="specs">
                      <p data-i18n="carFleet.cars.9.engine"></p>
                      <p data-i18n="carFleet.cars.9.transmission"></p>
                      <p data-i18n="carFleet.cars.9.fuelConsumption"></p>
                      <p data-i18n="carFleet.cars.9.power"></p>
                      <p data-i18n="carFleet.cars.9.topSpeed"></p>
                    </div>
                    <button class="check-button" onclick="scrollToFooter()" data-i18n="carFleet.cars.9.button"></button>
                  </div>
                </div>
      </div>
    </div>
  </section>
  
 