<section id="comments">
    <div class="container">
        <h2 data-i18n="comments.title"></h2>
        <div class="comment-slider">
            <button class="prev-btn">❮</button>
            <div class="comment-track-container">
                <ul class="comment-track">
                    <li class="comment">
                        <p  data-i18n="comments.commentsList.0.text">"Работаю с SD Group уже несколько месяцев и ни разу не пожалела. Всегда получаю оперативную поддержку и помощь по любым вопросам."</p>
                        <p class="author" data-i18n="comments.commentsList.0.author"  >- Олександр Мельник</p>
                    </li>
                    <li class="comment">
                        <p data-i18n="comments.commentsList.1.text">"SD Group предложила мне отличные условия аренды автомобилей. Машина была в отличном состоянии и полностью готова к работе в такси."</p>
                        <p class="author" data-i18n="comments.commentsList.1.author">- Иван Петров</p>
                    </li>
                    <li class="comment">
                        <p data-i18n="comments.commentsList.2.text">"Арендую автомобиль в SD Group уже второй год. Очень нравятся гибкость условий и доступные цены. Машины всегда в отличном состоянии."</p>
                        <p class="author" data-i18n="comments.commentsList.2.author">- Максим Иванов</p>
                    </li>
                    <li class="comment">
                        <p data-i18n="comments.commentsList.3.text">"SD Group provides excellent service and support. The cars are always in top condition."</p>
                        <p class="author" data-i18n="comments.commentsList.3.author">- Марек Ковальский</p>
                    </li>
                    <li class="comment">
                        <p data-i18n="comments.commentsList.4.text">"I'm very happy with the service from SD Group. The cars are reliable and the support team is very helpful."</p>
                        <p class="author" data-i18n="comments.commentsList.4.author">- Дмитрий Ковалев</p>
                    </li>
                    <li class="comment">
                        <p data-i18n="comments.commentsList.5.text">"SD Group has made my work as a taxi driver so much easier. Their cars are in great condition and their support is fantastic."</p>
                        <p class="author" data-i18n="comments.commentsList.5.author">- Адам Новак</p>
                    </li>
                    <li class="comment">
                        <p data-i18n="comments.commentsList.6.text">"Great service and great cars. I highly recommend SD Group for anyone looking to rent a car for taxi service."</p>
                        <p class="author" data-i18n="comments.commentsList.6.author">- Сергей Орлов</p>
                    </li>
                    <li class="comment">
                        <p data-i18n="comments.commentsList.7.text">"The flexibility and support from SD Group are outstanding. I've been renting from them for a year now and I'm very satisfied."</p>
                        <p class="author" data-i18n="comments.commentsList.7.author">- Улугбек Юлдашев</p>
                    </li>
                    <li class="comment">
                        <p data-i18n="comments.commentsList.8.text">"Reliable cars and excellent customer service. SD Group is the best choice for taxi drivers."</p>
                        <p class="author" data-i18n="comments.commentsList.8.author">- Виктор Павлов</p>
                    </li>
                    <li class="comment">
                        <p data-i18n="comments.commentsList.9.text">"I've had a great experience with SD Group. Their cars are well-maintained and the staff is very supportive."</p>
                        <p class="author" data-i18n="comments.commentsList.9.author">- Michael Johnson</p>
                    </li>
                </ul>
            </div>
            <button class="next-btn">❯</button>
        </div>
    </div>
</section>