<section id="comments">
    <div class="container">
        <h2 data-i18n="comments.title"></h2>
        <div id="commentCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="comment text-center">
                        <p data-i18n="comments.commentsList.0.text">"Работаю с SD Group уже несколько месяцев и ни разу не пожалела. Всегда получаю оперативную поддержку и помощь по любым вопросам."</p>
                        <p class="author" data-i18n="comments.commentsList.0.author">- Олександр Мельник</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="comment text-center">
                        <p data-i18n="comments.commentsList.1.text">"SD Group предложила мне отличные условия аренды автомобилей. Машина была в отличном состоянии и полностью готова к работе в такси."</p>
                        <p class="author" data-i18n="comments.commentsList.1.author">- Иван Петров</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="comment text-center">
                        <p data-i18n="comments.commentsList.2.text">"Арендую автомобиль в SD Group уже второй год. Очень нравятся гибкость условий и доступные цены. Машины всегда в отличном состоянии."</p>
                        <p class="author" data-i18n="comments.commentsList.2.author">- Максим Иванов</p>
                    </div>
                </div>
                <!-- Add more carousel items as needed -->
            </div>

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#commentCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#commentCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
