<section id="why-choose-us">
    <div class="container">
        <h2 data-i18n="whyChooseUs.title">Почему выбирают нас</h2>
        <div class="reason-grid">
            <div class="reason" >
                <h3  data-i18n="whyChooseUs.reasons.0.heading">Гибкие Условия Аренды</h3>
                <p data-i18n="whyChooseUs.reasons.0.text">Мы предлагаем различные варианты аренды, чтобы удовлетворить потребности каждого клиента, будь то краткосрочная или долгосрочная аренда. Наши автомобили также можно арендовать в личных целях на срок от одного дня.</p>
            </div>
            <div class="reason" >
                <h3 data-i18n="whyChooseUs.reasons.1.heading">Конкурентные Цены</h3>
                <p data-i18n="whyChooseUs.reasons.1.text">Мы предлагаем одни из самых выгодных цен на рынке, обеспечивая высокое качество обслуживания без лишних затрат.</p>
            </div>
            <div class="reason" >
                <h3 data-i18n="whyChooseUs.reasons.2.heading">Надежность И Безопасность</h3>
                <p data-i18n="whyChooseUs.reasons.2.text">Все наши автомобили проходят регулярное техническое обслуживание, что гарантирует их безотказную работу и безопасность на дорогах.</p>
            </div>
            <div class="reason" >
                <h3 data-i18n="whyChooseUs.reasons.3.heading">Обклейка Авто в Логотипы Bolt, Uber, Free Now</h3>
                <p data-i18n="whyChooseUs.reasons.3.text">Мы предлагаем обклейку автомобилей в логотипы популярных сервисов Bolt, Uber и Free Now, что обеспечивает вам дополнительную узнаваемость и преимущества.</p>
            </div>
            <div class="reason" >
                <h3 data-i18n="whyChooseUs.reasons.4.heading">Бонусная Программа</h3>
                <p data-i18n="whyChooseUs.reasons.4.text">У нас действует бонусная программа, предоставляющая дополнительные преимущества и бонусы для водителей, что делает сотрудничество с нами еще более выгодным.</p>
            </div>
            <div class="reason" >
                <h3 data-i18n="whyChooseUs.reasons.5.heading">Поддержка</h3>
                <p data-i18n="whyChooseUs.reasons.5.text">Наша служба поддержки работает круглосуточно, готовая помочь вам в любой ситуации и ответить на все ваши вопросы.</p>
            </div>
            <div class="reason" >
                <h3 data-i18n="whyChooseUs.reasons.6.heading">Официальное Трудоустройство</h3>
                <p data-i18n="whyChooseUs.reasons.6.text">Мы предоставляем официальное трудоустройство, помогая вам в легализации и обеспечивая своевременную выплату заработной платы.</p>
            </div>
            <div class="reason" >
                <h3 data-i18n="whyChooseUs.reasons.7.heading">Работа в Uber и Bolt Airport</h3>
                <p data-i18n="whyChooseUs.reasons.7.text">Вы получаете возможность работать в таких сервисах, как Uber Airport и Bolt Airport, что значительно расширяет ваши возможности и перспективы.</p>
            </div>
            
            <div class="reason " >
                <h3 data-i18n="whyChooseUs.reasons.8.heading">Лицензии на Околиці Варшави</h3>
                <p data-i18n="whyChooseUs.reasons.8.text">У нас есть все необходимые лицензии на работу в окрестностях Варшавы, что позволяет вам выполнять заказы не только в городе, но и в прилегающих районах.</p>
            </div>
            
            <div class="reason full-width" >
                <h3 data-i18n="whyChooseUs.reasons.9.heading">Наша Машина Завжди З Вами</h3>
                <p data-i18n="whyChooseUs.reasons.9.text">Независимо от того, арендуете ли вы автомобиль для работы в такси или для личных нужд, наша машина завжди з вами.</p>
            </div>
        </div>
    </div>
</section>