<section id="services">
    <h2 data-i18n="services.title" >Our Services</h2>
    <div class="services-container">
        <div class="service">
            <img src="/images/services/rent.jpg" alt="Аренда Автомобилей">
            <h3 data-i18n="services.servicesList.0.title" >Аренда Автомобилей</h3>
            <p data-i18n="services.servicesList.0.description">Флот автомобилей ждет Вас – мы предлагаем полностью оборудованные автомобили для работы в качестве перевозчика.</p>
        </div>
        <div class="service">
            <img src="/images/services/legalizacja.webp" alt="Легализация Работы">
            <h3 data-i18n="services.servicesList.1.title">Легализация Работы</h3>
            <p data-i18n="services.servicesList.1.description">Мы предлагаем помощь в легализации трудоустройства для иностранцев. У нас все документы можно оформить всего за 1 день, и вы сможете сразу начать зарабатывать.</p>
        </div>
        <div class="service">
            <img src="/images/services/ksiegowosc_8e55e9ab06.webp" alt="Бухгалтерия">
            <h3 data-i18n="services.servicesList.2.title">Бухгалтерия</h3>
            <p data-i18n="services.servicesList.2.description">Мы предлагаем полный спектр бухгалтерских услуг не только для наших водителей.</p>
        </div>
        <div class="service">
            <img src="/images/services/servis.webp" alt="Центр Обслуживания">
            <h3 data-i18n="services.servicesList.3.title">Центр Обслуживания</h3>
            <p data-i18n="services.servicesList.3.description">Мы имеем собственный сервисный центр, в котором вы быстро и эффективно устраним любую неисправность, чтобы ваш автомобиль был безопасным.</p>
        </div>
    </div>

    <div id="service-details" class="service-details">
        <h3 id="service-title">efggweg</h3>
        <p id="service-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae et repellat recusandae dolores, natus fugit, cumque provident velit iste veritatis cupiditate hic explicabo magni minus dolore laboriosam consequuntur, quae nemo?</p>
    </div>
</section>