<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Продаж Автомобілів | SD Group</title>
    <link rel="stylesheet" type="text/css" href="/css/carStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0.0/dist/fancybox.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    
</head>
<body>
    <div class="page-container">
      <nav class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/" data-i18n="nav.Offer">Offer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active" href="/buycar" data-i18n="nav.Buy_a_Car">Buy a Car/Leasing Support</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-i18n="header.language">
                            Language
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" onclick="changeLanguage('pl')">Polski</a></li>
                            <li><a class="dropdown-item" href="#" onclick="changeLanguage('en')">English</a></li>
                            <li><a class="dropdown-item" href="#" onclick="changeLanguage('ua')">Українська</a></li>
                            <li><a class="dropdown-item" href="#" onclick="changeLanguage('ru')">Русский</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Стилізований Header -->
    <header>
        <i class="fas fa-car"></i>
        <h1 data-i18n="header.title">Продаж Автомобілів SD Group</h1>
        <p data-i18n="header.subtitle">Кращі пропозиції на ринку</p>
    </header>
        

        <section class="container my-5 content">
          <h2 class="text-center mb-4" data-i18n="car.available_cars">Наявні Автомобілі</h2>
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="card mb-3 shadow-sm">
                        <div id="carouselExampleIndicators" class="carousel slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
                              </div>
                            <div class="carousel-inner" >
                                <div class="carousel-item active">
                                  <img src="/images/car_sales/lexus_c200h/photo_1.jpg" data-fancybox="gallery" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/lexus_c200h/photo_2.jpg" data-fancybox="gallery" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/lexus_c200h/photo_3.jpg"  data-fancybox="gallery" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/lexus_c200h/photo_4.jpg"  data-fancybox="gallery" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/lexus_c200h/photo_5.jpg"  data-fancybox="gallery" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/lexus_c200h/photo_6.jpg"  data-fancybox="gallery" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/lexus_c200h/photo_7.jpg"  data-fancybox="gallery" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/lexus_c200h/photo_8.jpg"  data-fancybox="gallery" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/lexus_c200h/photo_9.jpg"  data-fancybox="gallery" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/lexus_c200h/photo_10.jpg"  data-fancybox="gallery" class="d-block w-100" alt="...">
                                </div>
                              </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <p class="card-text mt-2">
                                <strong>Lexus CT 200h</strong><br>
                            </p>
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fas fa-gas-pump"></i> <span data-i18n="car.fuel_type">Hybryda</span></li>
                              <li class="list-inline-item"><i class="fas fa-cogs"></i> <span data-i18n="car.transmission">Automatyczna</span></li>
                              
                                <li class="list-inline-item"><i class="fas fa-cogs"></i> 1 798 cm³</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"  >
                    <div class="card mb-3 shadow-sm" >
                        <div id="carouselExampleIndicators1" class="carousel slide" >
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="4" aria-label="Slide 5"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="5" aria-label="Slide 6"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="6" aria-label="Slide 7"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="7" aria-label="Slide 8"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="8" aria-label="Slide 9"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="9" aria-label="Slide 10"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="10" aria-label="Slide 11"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="11" aria-label="Slide 12"></button>
                              </div>
                            <div class="carousel-inner" >
                                <div class="carousel-item active">
                                  <img src="/images/car_sales/toyota_auris/photo_1.jpg" data-fancybox="gallery1" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_auris/photo_2.jpg" data-fancybox="gallery1" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_auris/photo_3.jpg"  data-fancybox="gallery1" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_auris/photo_4.jpg"  data-fancybox="gallery1" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_auris/photo_5.jpg"  data-fancybox="gallery1" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_auris/photo_6.jpg"  data-fancybox="gallery1" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_auris/photo_7.jpg"  data-fancybox="gallery1" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_auris/photo_8.jpg"  data-fancybox="gallery1" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_auris/photo_9.jpg"  data-fancybox="gallery1" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_auris/photo_10.jpg"  data-fancybox="gallery1" class="d-block w-100 h-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_auris/photo_11.jpg"  data-fancybox="gallery1" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_auris/photo_12.jpg"  data-fancybox="gallery1" class="d-block w-100" alt="...">
                                </div>
                              </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <p class="card-text mt-2">
                                <strong>Toyota Auris Plus</strong><br>
                            </p>
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fas fa-gas-pump"></i> <span data-i18n="car.fuel_type">Hybryda</span></li>
                              <li class="list-inline-item"><i class="fas fa-cogs"></i> <span data-i18n="car.transmission">Automatyczna</span></li>
                              
                                <li class="list-inline-item"><i class="fas fa-cogs"></i> 1 798 cm³</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Додайте інші картки автомобілів тут -->
                <div class="col-md-4"  >
                    <div class="card mb-3 shadow-sm" >
                        <div id="carouselExampleIndicators2" class="carousel slide" >
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="4" aria-label="Slide 5"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="5" aria-label="Slide 6"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="6" aria-label="Slide 7"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="7" aria-label="Slide 8"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="8" aria-label="Slide 9"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="9" aria-label="Slide 10"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="10" aria-label="Slide 11"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="11" aria-label="Slide 12"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="12" aria-label="Slide 13"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="13" aria-label="Slide 14"></button>
                              </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/images/car_sales/toyota_prius/photo_1.jpg" data-fancybox="gallery2" class="d-block w-100" alt="..." >
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_prius/photo_2.jpg" data-fancybox="gallery2" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_prius/photo_3.jpg"  data-fancybox="gallery2" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_prius/photo_4.jpg"  data-fancybox="gallery2" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_prius/photo_5.jpg"  data-fancybox="gallery2" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_prius/photo_6.jpg"  data-fancybox="gallery2" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_prius/photo_7.jpg"  data-fancybox="gallery2" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_prius/photo_8.jpg"  data-fancybox="gallery2" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_prius/photo_9.jpg"  data-fancybox="gallery2" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_prius/photo_10.jpg"  data-fancybox="gallery2" class="d-block w-100 h-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_prius/photo_11.jpg"  data-fancybox="gallery2" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_prius/photo_12.jpg"  data-fancybox="gallery2" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_prius/photo_13.jpg"  data-fancybox="gallery2" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/images/car_sales/toyota_prius/photo_14.jpg"  data-fancybox="gallery2" class="d-block w-100" alt="...">
                                </div>
                              </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                       
                        <div class="card-body">
                            <p class="card-text mt-2">
                                <strong>Toyota Prius</strong><br>
                            </p>
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fas fa-gas-pump"></i> <span data-i18n="car.fuel_type">Hybryda</span></li>
                              <li class="list-inline-item"><i class="fas fa-cogs"></i> <span data-i18n="car.transmission">Automatyczna</span></li>
                              
                                <li class="list-inline-item"><i class="fas fa-cogs"></i> 1 798 cm³</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Додайте інші картки автомобілів тут -->
            </div>
        </section>
        <section class="services-section text-center">
          <div class="container">
              <h2 data-i18n="services.title"></h2>
              <p data-i18n="services.description"></p>
              <ul class="services-list">
                  <li data-i18n="services.leasing"></li>
                  <li data-i18n="services.buyback"></li>
                  <li data-i18n="services.rent_to_own"></li>
                  <li data-i18n="services.custom_order"></li>
              </ul>
              <p><strong data-i18n="services.personal_approach"></strong></p>
          </div>
      </section>
      
      <footer class="bg-dark text-white text-center py-3">
          <p data-i18n="footer.rights"></p>
      </footer>
      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0.0/dist/fancybox.umd.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/i18next@21.6.0/dist/umd/i18next.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-i18next@1.2.1/jquery-i18next.min.js"></script>
    
  
    <script src="/js/carLanguages.js"></script>
</body>
</html>
